
    .a1{
        display: flex;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: 35px;
        padding-top: 10px;
        padding-left: 320px;
        margin-right: 88px;
        margin-left: 100px;
        width: 40%;
    }
    .a2{
    

        
        margin-left: -300px;
       
        border-radius: 50%;


  
        
    }
    .td {
        display: table-cell;
        vertical-align: inherit;
        margin-right: 40px;
        padding: 50px;
    }

    .a4{
       
       
     
        margin-right: 52px;
        margin-left: 100px;
      
    }
    .a3{
        margin-left: -295px;
        margin-bottom: 10px;
    }
    .hr1{
        color: green;
        background-color: green;
        height: 8px;
        width: 107px;
        margin-right: 6px;
    
    }
    .hr2{
        color: green;
        background-color: green;
        height: 8px;
        width: 75px;
        margin-right: 6px;
    
    }
    .hr3{
        color: green;
        background-color: green;
        height: 8px;
        width: 40px;
        margin-right: 6px;
    
    }
    
  
